.works-top__link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #ec1f46;
  box-shadow: 0px 2px 0px #ce1c3e;
  z-index: 1;
  transition: transform 0.2s;
}

.works-top__link:hover {
  transform: scale(0.97);
}

.works-top__link:active {
  box-shadow: inset 0 -3px 20px 3px rgba(0, 0, 0, 0.3);
}
